# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
dist-ssr/
*.local
.vite/
**/.vite/

# Documentation
document/
document

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / IDE directories
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo


.agents
.claude
AGENTS.md
CLAUDE.md
**/AGENTS.md
**/CLAUDE.md

template/public
APLIKASIERP.pdf
API_DOCUMENTATION.md
DOKUMENTASI_INTEGRASI_LOGIN.md

DOKUMENTASI_INTEGRASI_MENU_ROLES.md
DOKUMENTASI_INTEGRASI_USER.md
DOKUMENTASI_INTEGRASI_MASTER.md